{{ define "Allstar" }}
    {{ if eq $.Rank 0 }}
        {{/* 기록 없음 */}}
    {{ else }}
        {{      if eq $.RankPercent 100.0 }}<div class="dps r100">{{ fn $.Allstar }}</div>
        {{ else if ge $.RankPercent  99.0 }}<div class="dps r99" >{{ fn $.Allstar }}</div>
        {{ else if ge $.RankPercent  95.0 }}<div class="dps r95" >{{ fn $.Allstar }}</div>
        {{ else if ge $.RankPercent  75.0 }}<div class="dps r75" >{{ fn $.Allstar }}</div>
        {{ else if ge $.RankPercent  50.0 }}<div class="dps r50" >{{ fn $.Allstar }}</div>
        {{ else if ge $.RankPercent  25.0 }}<div class="dps r25" >{{ fn $.Allstar }}</div>
        {{ else if ge $.RankPercent   0.0 }}<div class="dps r0"  >{{ fn $.Allstar }}</div>
        {{ else                           }}<div class="dps "    >{{ fn $.Allstar }}</div>
        {{ end }}
    {{ end }}
{{ end }}

{{ define "Rank" }}
    {{ if eq $.Rank 0 }}
        {{/* 기록 없음 */}}
    {{ else if eq $.Rank -1 }}
        {{/* 5000 위 넘김 */}}
        <div class="dps r0" title="5000위 미만">&gt;5000</div>
    {{ else }}
        {{      if eq $.RankPercent 100.0 }}<div class="dps r100" title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else if ge $.RankPercent  99.0 }}<div class="dps r99"  title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else if ge $.RankPercent  95.0 }}<div class="dps r95"  title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else if ge $.RankPercent  75.0 }}<div class="dps r75"  title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else if ge $.RankPercent  50.0 }}<div class="dps r50"  title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else if ge $.RankPercent  25.0 }}<div class="dps r25"  title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else if ge $.RankPercent   0.0 }}<div class="dps r0"   title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ else                           }}<div class="dps "     title="{{ fn $.RankPercent }}">{{ $.Rank }}</div>
        {{ end }}
    {{ end }}
{{ end }}

{{ define "RankP" }}
    {{ if eq $.Rank 0 }}
        {{/* 기록 없음 */}}
    {{ else if eq $.Rank -1 }}
        {{/* 5000 위 넘김 */}}
        <div class="dps r0" title="5000위 미만">-</div>
    {{ else }}
        {{      if eq $.RankPercent 100.0 }}<div class="dps r100">{{ fn $.RankPercent }}</div>
        {{ else if ge $.RankPercent  99.0 }}<div class="dps r99" >{{ fn $.RankPercent }}</div>
        {{ else if ge $.RankPercent  95.0 }}<div class="dps r95" >{{ fn $.RankPercent }}</div>
        {{ else if ge $.RankPercent  75.0 }}<div class="dps r75" >{{ fn $.RankPercent }}</div>
        {{ else if ge $.RankPercent  50.0 }}<div class="dps r50" >{{ fn $.RankPercent }}</div>
        {{ else if ge $.RankPercent  25.0 }}<div class="dps r25" >{{ fn $.RankPercent }}</div>
        {{ else if ge $.RankPercent   0.0 }}<div class="dps r0"  >{{ fn $.RankPercent }}</div>
        {{ else                           }}<div class="dps "    >{{ fn $.RankPercent }}</div>
        {{ end }}
    {{ end }}
{{ end }}








<h1>{{ $.CharName }}@{{ $.CharServer }} (ko)</h1>

<div class="mb-3">{{ $.UpdatedAt }} 기준</div>

{{ if eq $.State "notfound" }}
<div class="alert alert-danger" role="alert">
    캐릭터를 찾을 수 없습니다.
</div>
{{ else if eq $.State "invalid" }}
<div class="alert alert-danger" role="alert">
    잘못된 요청입니다.
</div>
{{ else }}
    <div>
        <a href="{{ $.FFLogsLink }}" class="text-decoration-none fw-bold" target="_blank">FFLogs 열기</a>
    </div>

    {{ if eq $.State "hidden" }}
    <div class="alert alert-danger" role="alert">
        비공개 캐릭터입니다.
    </div>
    {{ else if eq $.State "nolog" }}
    <div class="alert alert-danger" role="alert">
        클리어 기록이 없습니다.
    </div>
    {{ else }}
        <div class="accordion mt-3">
            {{ range $partIndex, $partData := $.Partitions }}
                <div class="accordion-item"
                        id="tab_{{ $partIndex }}_accordion">
                    <h2 class="accordion-header"
                        id="tab_head{{ $partIndex }}">
                        <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#tab_item{{ $partIndex }}"
                                aria-expanded="true"
                                aria-controls="tab_item{{ $partIndex }}"
                        ><b>{{ $partData.PartitionName }}</b></button>
                    </h2>
                    <div class="accordion-collapse collapse show"
                            id="tab_item{{ $partIndex }}"
                            aria-labelledby="tab_head{{ $partIndex }}"
                            data-bs-parent="#tab_{{ $partIndex }}_accordion">
                        <div class="accordion-body">
                            <ul class="nav nav-tabs" role="tablist">
                                {{ range $jobIndex, $jobData := $partData.Jobs }}
                                    <li class="nav-item" role="presentation">
                                        <button
                                            {{ if $jobData.Best }}
                                                class="nav-link text-center active"
                                                aria-selected="true"
                                            {{ else }}
                                                class="nav-link text-center"
                                                aria-selected="false"
                                            {{ end }}
                                            id="tab_{{ $partIndex }}__{{ $jobIndex }}-btn"
                                            data-bs-toggle="tab"
                                            data-bs-target="#tab_{{ $partIndex }}__{{ $jobIndex }}"
                                            type="button"
                                            role="tab"
                                            aria-controls="tab_{{ $partIndex }}__{{ $jobIndex }}"
                                        ><div><img class="d-block icon32 job32 {{ $jobData.Job }}"></div>{{ template "Rank" $jobData.Global }}</button>
                                    </li>
                                {{ end }}
                            </ul>
                            <div class="tab-content">
                                {{ range $jobIndex, $jobData := $partData.Jobs }}
                                    <div
                                        {{ if $jobData.Best }}
                                            class="tab-pane fade show active"
                                        {{ else }}
                                            class="tab-pane fade"
                                        {{ end }}
                                        id="tab_{{ $partIndex }}__{{ $jobIndex }}"
                                        role="tabpanel"
                                        aria-labelledby="tab_{{ $partIndex }}__{{ $jobIndex }}-btn">
                                        <div class="accordion">
                                            <table class="table table-sm table-hover align-middle">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">이름</th>
                                                        <th scope="col" class="text-center">킬</th>
                                                        <th scope="col" class="text-center">Rdps</th>
                                                        <th scope="col" class="text-center">한국 올스타</th>
                                                        <th scope="col" class="text-center">한국 순위</th>
                                                        <th scope="col" class="text-center">글섭 올스타</th>
                                                        <th scope="col" class="text-center">글섭 순위</th>
                                                        <th scope="col" class="text-center">글섭 순위 %</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">{{ $.ZoneName }}</th>
                                                        <td class="text-center">
                                                            {{ if ne $jobData.TotalKills 0 }}
                                                                {{ fn $jobData.TotalKills }}
                                                            {{ else }}
                                                                -
                                                            {{ end }}
                                                        </td>
                                                        <td></td>
                                                        <td class="text-center">{{ template "Allstar" $jobData.Korea }}</td>
                                                        <td class="text-center">{{ template "Rank"    $jobData.Korea }}</td>
                                                        <td class="text-center">{{ template "Allstar" $jobData.Global }}</td>
                                                        <td class="text-center">{{ template "Rank"    $jobData.Global }}</td>
                                                        <td class="text-center">{{ template "RankP"   $jobData.Global }}</td>
                                                    </td>

                                                    {{ range $encIndex, $endData := $jobData.Encounters }}
                                                        <tr>
                                                            <th scope="row">{{ $endData.EncounterName }}</th>
                                                            <td class="text-center">
                                                                {{ if ne $endData.Kills 0 }}
                                                                    {{ fn $endData.Kills }}
                                                                {{ else }}
                                                                    -
                                                                {{ end }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ if ne $endData.Rdps 0.0 }}
                                                                    {{ fn $endData.Rdps }}
                                                                {{ end }}
                                                            </td>
                                                            <td class="text-center">{{ template "Allstar" $endData.Korea  }}</td>
                                                            <td class="text-center">{{ template "Rank"    $endData.Korea  }}</td>
                                                            <td class="text-center">{{ template "Allstar" $endData.Global }}</td>
                                                            <td class="text-center">{{ template "Rank"    $endData.Global }}</td>
                                                            <td class="text-center">{{ template "RankP"   $endData.Global }}</td>
                                                        </td>
                                                    {{ end }}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
