<h1>{{ $.CharName }}@{{ $.CharServer }} ({{ $.CharRegion }})</h1>

<div class="mb-3">{{ $.UpdatedAt }} 기준</div>

{{ if eq $.State "notfound" }}
<div class="alert alert-danger" role="alert">
    캐릭터를 찾을 수 없습니다.
</div>
{{ else if eq $.State "invalid" }}
<div class="alert alert-danger" role="alert">
    잘못된 요청입니다.
</div>
{{ else }}
<div>
    <a href="{{ $.FFLogsLink }}" class="text-decoration-none fw-bold" target="_blank">FFLogs 열기</a>
</div>

{{ if eq $.State "hidden" }}
<div class="alert alert-danger" role="alert">
    비공개 캐릭터입니다.
</div>
{{ else }}
<div id="accordion" class="accordion">
    <div class="accordion-item">
        <h2
            id="headingJobs"
            class="accordion-header"
        >
            <button
                class="accordion-button collapsed align-middle"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseJobs"
                aria-expanded="false"
                aria-controls="collapseJobs"
            >통계</button>
        </h2>
        <div
            id="collapseJobs"
            class="accordion-collapse collapse"
            aria-labelledby="headingJobs"
            data-bs-parent="#accordion"
        >
            <div class="accordion-body">
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="checkbox" id="showDps">
                    <label class="form-check-label" for="showDps"><img class="img img-dps"> DPS 최대값 표시</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="checkbox" id="showHps">
                    <label class="form-check-label" for="showHps"><img class="img img-hps"> HPS 중간값 표시</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="checkbox" id="showScore" checked>
                    <label class="form-check-label" for="showScore"><img class="img img-score"> 완벽도 표시</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="checkbox" id="showKills">
                    <label class="form-check-label" for="showKills"><img class="img img-kills"> 총 킬수 표시</label>
                </div>

                <table class="table table-sm table-hover align-middle table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">보스 명</th>
    
                            {{ range $i, $job := $.Jobs }}
                                {{ if eq $job.ID 0 }}
                                    <th scope="col" class="text-start">종합</th>
                                {{ else }}
                                    <th scope="col" class="text-start"><img class="icon32 job32 {{ $job.Job }}"></th>
                                {{ end }}
                            {{ end }}
                        </tr>
                    </thead>

                    <tbody>
                        {{/* ================================================== */}}
                        {{/* 종합 영역 */}}
                        <tr>
                            <th scope="row">종합</th>
                            {{ range $i, $job := $.Jobs }}
                                <td class="text-start">
                                    <div class="dps"></div>
                                    <div class="hps"></div>

                                    {{      if ge $job.Score 70.0 }} <div class="score text-primary"><img class="img img-score"> {{ fn $job.Score }}</div>
                                    {{ else if ge $job.Score 50.0 }} <div class="score text-success"><img class="img img-score"> {{ fn $job.Score }}</div>
                                    {{ else if ge $job.Score 40.0 }} <div class="score"             ><img class="img img-score"> {{ fn $job.Score }}</div>
                                    {{ else                       }} <div class="score text-danger" ><img class="img img-score"> {{ fn $job.Score }}</div>
                                    {{ end                        }}

                                    <div class="kills"><img class="img img-kills"> {{ fn $job.Kills }}</div>
                                </td>
                            {{ end }}
                        </tr>

                        {{/* ================================================== */}}
                        {{/* 보스별 영역 */}}
                        {{ range $i, $enc := $.Encounters }}
                        {{ if ne $enc.ID 0 }}
                        <tr>
                            <th scope="row">{{ $enc.Name }}</th>
                            {{ range $ii, $jobTarget := $.Jobs }}
                            <td class="text-start">
                                {{ if eq $jobTarget.ID 0 }}
                                    <div class="dps"></div>
                                    <div class="hps"></div>

                                    {{      if ge $enc.Score 70.0 }}<div class="score text-primary"><img class="img img-score"> {{ fn $enc.Score }}</div>
                                    {{ else if ge $enc.Score 50.0 }}<div class="score text-success"><img class="img img-score"> {{ fn $enc.Score }}</div>
                                    {{ else if ge $enc.Score 40.0 }}<div class="score"             ><img class="img img-score"> {{ fn $enc.Score }}</div>
                                    {{ else                       }}<div class="score text-danger" ><img class="img img-score"> {{ fn $enc.Score }}</div>
                                    {{ end                        }}

                                    <div class="kills"><img class="img img-kills"> {{ fn $enc.Kills }}</div>
                                {{ else }}
                                    {{ range $iii, $job := $enc.Jobs }}
                                        {{ if eq $jobTarget.ID $job.ID }}
                                            {{      if eq $job.Rank.Dps 100.0 }}<div class="dps r100"><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else if ge $job.Rank.Dps  99.0 }}<div class="dps r99" ><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else if ge $job.Rank.Dps  95.0 }}<div class="dps r95" ><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else if ge $job.Rank.Dps  75.0 }}<div class="dps r75" ><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else if ge $job.Rank.Dps  50.0 }}<div class="dps r50" ><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else if ge $job.Rank.Dps  25.0 }}<div class="dps r25" ><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else if ge $job.Rank.Dps   0.0 }}<div class="dps r0"  ><img class="img img-dps"> {{ fn $job.Rank.Dps }}</div>
                                            {{ else                           }}<div class="dps "    ><img class="img img-dps">                       </div>
                                            {{ end }}
                                            
                                            {{      if eq $job.Rank.Hps 100.0 }}<div class="hps r100"><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else if ge $job.Rank.Hps  99.0 }}<div class="hps r99" ><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else if ge $job.Rank.Hps  95.0 }}<div class="hps r95" ><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else if ge $job.Rank.Hps  75.0 }}<div class="hps r75" ><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else if ge $job.Rank.Hps  50.0 }}<div class="hps r50" ><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else if ge $job.Rank.Hps  25.0 }}<div class="hps r25" ><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else if ge $job.Rank.Hps   0.0 }}<div class="hps r0"  ><img class="img img-hps"> {{ fn $job.Rank.Hps }}</div>
                                            {{ else                           }}<div class="hps"     ><img class="img img-hps">                       </div>
                                            {{ end }}
                                            
                                            {{      if ge $job.Score 70.0 }}<div class="score text-primary"><img class="img img-score"> {{ fn $job.Score }}</div>
                                            {{ else if ge $job.Score 50.0 }}<div class="score text-success"><img class="img img-score"> {{ fn $job.Score }}</div>
                                            {{ else if ge $job.Score 40.0 }}<div class="score"             ><img class="img img-score"> {{ fn $job.Score }}</div>
                                            {{ else                       }}<div class="score text-danger" ><img class="img img-score"> {{ fn $job.Score }}</div>
                                            {{ end                        }}

                                            <div class="kills"><img class="img img-kills"> {{ fn $job.Kills }}</div>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            </td>
                            {{ end }}
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ range $i, $enc := $.Encounters }}
    <div class="accordion-item">
        <h2
            id="heading{{ $enc.ID }}"
            class="accordion-header"
        >
            <button
                class="accordion-button collapsed align-middle"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse{{ $enc.ID }}"
                aria-expanded="false"
                aria-controls="collapse{{ $enc.ID }}"
            >{{ $enc.Name }}<span class="text-danger ms-3"><b>{{ fn $enc.Kills }} 킬</b></span></button>
        </h2>

        <div
            id="collapse{{ $enc.ID }}"
            class="accordion-collapse collapse"
            aria-labelledby="heading{{ $enc.ID }}"
            data-bs-parent="#accordion"
        >
            <div class="accordion-body">
                <ul
                    class="nav nav-tabs mb-3"
                    id="tab-{{ $enc.ID }}"
                    role="tablist"
                >
                    {{ range $ii, $encJob := $enc.Jobs }}
                    <li
                        class="nav-item"
                        role="presentation"
                    >
                        <button
                                {{ if eq $ii 0 }}
                                class="nav-link align-middle active"
                                {{ else }}
                                class="nav-link align-middle"
                                {{ end }}
                                id="tab-{{ $enc.ID }}-{{ $encJob.ID }}-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#tab-{{ $enc.ID }}-{{ $encJob.ID }}"
                                type="button"
                                role="tab"
                                aria-controls="tab-{{ $enc.ID }}-{{ $encJob.ID }}"
                                aria-selected="true"
                        ><img class="icon32 job32 {{ $encJob.Job }}"><span class="text-danger ms-1"><b>{{ fn $encJob.Kills }} 킬</b></span></button>
                    </li>
                    {{ end }}
                </ul>

                <div class="tab-content" id="tab-{{ $enc.ID }}-content">
                    {{ range $ii, $encJob := $enc.Jobs }}
                    <div id="tab-{{ $enc.ID }}-{{ $encJob.ID }}"
                         {{ if eq $ii 0 }}
                         class="tab-pane fade show active"
                         {{ else }}
                         class="tab-pane fade"
                         {{ end }}
                         role="tabpanel"
                         aria-labelledby="tab-{{ $enc.ID }}-{{ $encJob.ID }}-tab">
                        <table class="table table-sm table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">이름</th>
                                    <th scope="col" class="text-center">쿨타임</th>
                                    <th scope="col" class="text-center">사용 수 (평균)</th>
                                    <th scope="col" class="text-center">기술 사용 (평균)</th>
                                    <th scope="col" class="text-center">사용 수 (중간값)</th>
                                    <th scope="col" class="text-center">기술 사용 (중간값)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range $iii, $encJobSkill := $encJob.Skills }}
                                <tr>
                                    {{ if $encJobSkill.Info.ContainsInScore}}
                                    <th scope="row" class="text-primary">
                                    {{ else }}
                                    <th scope="row">
                                    {{ end }}
                                        <img src="https://assets.rpglogs.com/img/ff/abilities/{{ $encJobSkill.Info.Icon }}" class="icon32"> {{ $encJobSkill.Info.Name }}
                                    </th>
                                    
                                    {{ if $encJobSkill.Info.WithDowntime }}<td class="text-center">{{ fn $encJobSkill.Info.Cooldown }}</td>
                                    {{ else                              }}<td class="text-center"></td>
                                    {{ end                               }}

                                    <td class="text-center">{{ fn $encJobSkill.Usage.Avg }}</td>

                                    {{ if $encJobSkill.Info.WithDowntime }}<td class="text-center">{{ fn $encJobSkill.Cooldown.Avg }} %</td>
                                    {{ else                              }}<td class="text-center"></td>
                                    {{ end                               }}

                                    <td class="text-center">{{ fn $encJobSkill.Usage.Med }}</td>

                                    {{ if $encJobSkill.Info.WithDowntime }}<td class="text-center">{{ fn $encJobSkill.Cooldown.Med }} %</td>
                                    {{ else                              }}<td class="text-center"></td>
                                    {{ end                               }}
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
