{
	worldData {
		{{ range $encIDIndex, $encID := $.InpEncounterIDs }}
		e_{{ $encID }}: encounter(id: {{ $encID }}) {
			id
			name
		}
		{{ end }}
	}
	characterData {
		char: character(name: "{{ $.InpCharName }}", serverSlug:"{{ $.InpCharServer }}", serverRegion: "{{ $.InpCharRegion }}") {
			id
			hidden
		}
		char_encounter: character(name: "{{ $.InpCharName }}", serverSlug:"{{ $.InpCharServer }}", serverRegion: "{{ $.InpCharRegion }}") {
			{{ range $encIDIndex, $encID := $.InpEncounterIDs }}
			e_{{ $encID }}: encounterRankings(encounterID: {{ $encID }})
			{{ range $i, $part := $.InpAdditionalPartition }}
			e{{ $i }}_{{ $encID }}: encounterRankings(encounterID: {{ $encID }}, partition: {{ $part }} )
			{{ end }}
			{{ end }}
		}
	}
}