{
	reportData {
		{{ range $.ReportDataInnerList }}
			{{ if not .Done }}
				_{{ .Report.Code }}_{{ .Report.FightID }}_{{ .SourceId }}: report(code: "{{ .Report.Code }}") {
					events(fightIDs: {{ .Report.FightID }}, sourceID: {{ .SourceId }}, dataType: Casts, startTime: {{ .EventsNextPage }}, endTime: 9999999999999) {
						nextPageTimestamp
						data
					}
				}
			{{ end }}
		{{ end }}
	}
}