{
	characterData {
		char: character(name: "{{ $.CharName }}", serverSlug:"{{ $.CharServer }}", serverRegion: "kr") {
			id
			hidden
		}
		char_encounter: character(name: "{{ $.CharName }}", serverSlug:"{{ $.CharServer }}", serverRegion: "kr") {
			{{ range $encID, $encData := $.Preset.EncounterMap }}
				{{ range $partID, $partData := $.Preset.PartitionMap }}
					dps_{{ $encData.EncounterID }}_{{ $partID }}: encounterRankings(encounterID: {{ $encData.EncounterID }}, includePrivateLogs: false, difficulty: {{ $.Preset.Difficulty }}, partition: {{ $partID }} )
				{{ end }}
			{{ end }}
		}
	}
}